on: pull_request
jobs:
  pr:
    runs-on: ubuntu-20.04
    steps:
      - run: |
          set -euo pipefail
          echo '::group::Event payload'
            jq . "$GITHUB_EVENT_PATH"
          echo '::endgroup::'
          sudo apt-get install -y curl jq
          STATUSES_URL="$(jq --raw-output '.pull_request.statuses_url' "$GITHUB_EVENT_PATH")"
          printf 'STATUSES_URL: %s\n' "$STATUSES_URL"
          curl \
            -X POST \
            -H 'Accept: application/vnd.github.v3+json' \
            -H "Authorization: Bearer $GITHUB_TOKEN" \
            "$STATUSES_URL" \
            -d '{"state": "failure", "context": "news-file/pr", "description": "Missing either a news entry or a trivial file/label.", "target_url": "https://pip.pypa.io/en/latest/development/contributing/#news-entries"}' \
            > out.txt
          cat out.txt
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
